*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.header{
	max-width: 1090px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-items: center;
	padding: 0px 50px;

}
.logo{
	width: 230px;
	padding-left: 10px;
}
.logo img{
	width: 100%;

}
.header button{
	padding: 8px 25px;
	background: goldenrod;
/*	margin-left: 40px ;*/
	border-radius: 30px 30px 0 30px;
	font-size: 25px;
	font-weight: bold;
	color: white;
	border: none;
	animation: buttoncolor 0.8s infinite linear;

}
@keyframes buttoncolor{
	100%{
		background: royalblue;
	}

}
.sec1{
	background-image:url('../images/banner.jpg');
/*	background-size: cover;*/
}
.sec1_inner{
	max-width: 1140px;
	margin: auto;
	
	display: flex;
	align-items: center;
	padding: 30px 0 60px 0;
}
.sec1_innerleft{
	width: 70%;
	
	color: white;
	padding-left: 35px;
}
.sec1_innerleft h1{
	font-size: 27px;
	padding-top: 70px ;
}
.sec1_innerleft h2{
	font-size: 25px;
	padding-top: 30px ;
}
.sec1_innerleft p{
	font-size: 20px;
	padding-top: 30px ;
}
.images{
	display: flex;
	padding-top: 20px;
}
.sec1_innerright{
	width: 35%;
	padding: 10px 20px;

}
.sec1_innerright form{
	background: #F3F3F3;
	max-width: 80%;
	margin: auto;
	padding: 25px ;
	border-radius: 10px;

}
.sec1_innerright form>input{
	width: 100%;
	padding: 5px 0;
	margin: 10px 0;

	border: 1px solid gray ;
}
.sec1_innerright form>div{
	display: flex;
	justify-content: space-between;

}
.sec1_innerright form>div input{
	padding: 5px;
}
.sec2{
	background: white;
}
.sec2_inner{
	max-width: 1140px;
	margin: auto;
	border: 1px solid black;
	/*display: flex;
	justify-content: center;*/

}
.sec2_inner>div {
	display: flex;
	justify-content: center;
	padding: 15px 0;
}
.sec2_inner>div h2:first-child{
	color: navy;
	font-size: 30px;


}
.sec2_inner>div h2:last-child{
	color: gold;
	font-size: 30px;
}
.video{
	margin: auto;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;

}
.utube{
	width: 30%;
	background: blue;
	border-radius: 10px ;
	height: 230px;
	margin: 10px;
}
.sec3{
	background: #F4F4F4;
}
.sec3_inner{
	max-width: 1140px;
	border: 1px solid black;
	margin: auto;
}
.sec3_inner>div {
	display: flex;
	justify-content: center;
	padding: 15px 0;
}
.sec3_inner>div h2:first-child{
	color: navy;
	font-size: 30px;


}
.sec3_inner>div h2:last-child{
	color: gold;
	font-size: 30px;
}
.card_sec3{
	margin: auto;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;

}
.card{
	width: 47%;
	background: papayawhip;
	border-radius: 10px ;
	height: 550px;
	margin: 10px;
}
.sec4{
	background: white;
}
.sec4_inner{
	max-width: 1140px;
	border: 1px solid black;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.sec4_inner>div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}
.sec4_inner>div h2:first-child{
	color: navy;
	font-size: 30px;


}
.sec4_inner>div h2:last-child{
	color: gold;
	font-size: 30px;
}
.sec4_inner>p{
	text-align: center;
	font-size: 19px;
	font-weight: bold;
}
.card_sec4{
	margin: auto;
	display: flex;
	justify-content:space-evenly;
	flex-wrap: wrap;

}
.card4{
	width: 22%;
	background: #F4F4F4;
	border-radius: 10px ;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}
.card4 img{
	margin: auto;
	padding: 10px 0;
}
.card4 p{
	font-weight: bold;
	padding: 10px 0;
}
.sec5{
	background: #3D76D9;
}
.sec5_inner{
	max-width: 1140px;
	border: 1px solid black;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.sec5_inner>div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}
.sec5_inner>div h2:first-child{
	color: white;
	font-size: 30px;


}

.sec5_inner>p{
	text-align: center;
	font-size: 19px;
	font-weight: bold;
	color: white;
}
.card_sec5{
	margin: auto;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;

}
.card5{
	width: 13%;
	border-radius: 10px ;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}
.card5 img{
	margin: auto;
	padding: 5px 0;
}
.card5 h1{
	font-weight: bold;
	padding: 5px 0;
	color: white;
}
.card5 p{
	font-weight: bold;
	padding: 5px 0;
	padding-bottom: 20px;
	color: white;
	text-align: center;
}
.sec6{
	background: white;
}
.sec6_inner{
	max-width: 1140px;
	border: 1px solid black;
	padding: 20px 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.sec6_inner>div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}
.sec6_inner>div h2:first-child{
	color: navy;
	font-size: 30px;


}
.sec6_inner>div h2:last-child{
	color: gold;
	font-size: 30px;
}
.slider{
	width: 80%;
	background: #457BDA;
	height: 300px;
	border-radius: 12px;
}
.sec7{
	background:#F4F4F4;
}
.sec7_inner{
	max-width: 1140px;
	border: 1px solid black;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.sec7_inner>div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}
.sec7_inner>div h2:first-child{
	color: navy;
	font-size: 30px;


}
.sec7_inner>div h2:last-child{
	color: gold;
	font-size: 30px;
}
.card_sec7{
	margin: auto;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;

}
.card7{
	width: 17%;
	background: white;
	border-radius: 10px ;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}
.card7 img{
	width: 100%;
	padding: 10px 0;
}
.sec8{
	background: white;
}
.sec8_inner{
	max-width: 1140px;
	border: 1px solid black;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.sec8_inner>div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}
.sec8_inner>div h2:first-child{
	color: navy;
	font-size: 30px;


}
.sec8_inner>div h2:last-child{
	color: gold;
	font-size: 30px;


}

.sec8_inner>p{
	text-align: center;
	font-size: 19px;
	font-weight: bold;
	color: white;
}
.card_sec8{
	margin: auto;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;

}
.card8{
	width: 47%;
	background: #F4F4F4;
	border-radius: 10px ;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}
.card8 i{
	margin: auto;
	padding: 5px 0;
}
.card8 h1{
	font-weight: bold;
	padding: 5px 0;
	color: black;
}
.card8 p{
	font-weight: bold;
	padding: 5px 0;
	padding-bottom: 20px;
	color: black;
	text-align: center;
}
.sec9{
	background: #F4F4F9;
}
.sec9_inner{
	max-width: 1140px;
	border: 1px solid black;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.sec9_inner>div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}
.sec9_inner>div h2:first-child{
	color: navy;
	font-size: 30px;


}
.sec9_inner>div h2:last-child{
	color: gold;
	font-size: 30px;


}
.col{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.column{
	width: 30%;
	padding: 10px 30px;
}
.column h5{
	font-size: 17px;
	padding-bottom: 8px;
}
.column p{
	font-size: 12px;
	padding-bottom: 3px;
}
.footer{
	background: #3D76D9;
}
.footer_inner{
	max-width: 1140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	margin: auto;
}
.box{
	border: 1px solid black;
	width: 100%;
/*	height: 100px;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.box i {
	font-size: 20px;
	color: white;
	padding: 10px;
}
.box a {
	font-size: 20px;
	color: white;
	padding: 10px;
}
.line{
	width: 100%;
	height: 3px;
	background: white;
}
.footer_inner p{
	font-size: 16px;
	color: white;
	padding: 15px 0;
}